#!/usr/bin/env bash
set -euo pipefail

export ETH_NODE_RPC_URL="http://localhost:8545"

# Wallet
# ==================
# Mnemonic:          test test test test test test test test test test test junk
# Derivation path:   m/44'/60'/0'/0/
export ETH_ADDRESS="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
export ETH_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"

export ETHERSCAN_API_KEY=""

if [ -f .envrc.override ]; then
    source_env .envrc.override
fi
